* {
    margin: 0px;
    padding: 0px; 
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar-light .navbar-toggler {
    border: 1px solid white;
}

.custom-badge {
    position: absolute;
    top: 0;
    right: -6px; /* Adjust this value as needed */
 
  }  
  
.hover-orange:hover {
    color: orange;
}
  
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  @media (min-width: 768px) {
    .card img {
      height: 25em;
    }
  }

  #new {
    height: 30em;

  }